
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #29283b;
   background-image: url(/resources/login_background.jpg);
    background-size: cover;
    background-position: center;
}

.wrapper{
    width: 400px;
   
    background: rgb(198, 198, 198, 0.1);
    border-radius: 10px;
    box-shadow: 15px 15px 30px 4px rgb(0, 0, 0);
    padding: 50px 30px 40px 30px;
    border: 2px solid rgba(193, 202, 210, 0.71);
    backdrop-filter: blur(40px);
    margin-bottom: 40px;
    
    
    
}

.wrapper h2{
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
    color: #2f2725;

}

.wrapper .input-box{
    position: relative;
    width: 100%;
    margin-top: 20px;
    
    border-radius: 43px;
}

.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #29283b;
    border-radius: 40px;
    padding: 20px 60px 20px 20px;
}

.input-box input::placeholder{
    color: #817e7e;
    font-weight: 500;
    font-size: 1em;
    
}

.input-box i{
    position: absolute;
   top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: #000000;
}

.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 15.5px;
    margin: 10px 0px 15px;

}

.remember-forgot label  {
    accent-color: rgb(250, 250, 250);
    display: flex;
    gap: 4px;
}



.remember-forgot a{
    color: rgba(23, 36, 16, 0.748);
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.wrapper .submitbtn{
    width: 100%;
    height: 100%;
    background: rgba(246, 246, 246, 0.903);
    border: none;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
    box-shadow: 0 0 10px rgb(0, 0, 0, .1);
    


}
.wrapper .register-link{
    font-size: 15.5px;
    text-align: center;
    margin-top: 20px;

}
.register-link p a {
    color: rgb(9, 9, 9);
    text-decoration: none;
    font-weight: 800;
}
.register-link p a:hover{
    text-decoration: underline;
}